# ===============================================
# Terraform configuration
# ===============================================
terraform {
  required_providers {
    proxmox = {
      source = "bpg/proxmox"
      version = "0.7.0"
    }
  }
}

# ===============================================
# Proxmox Provider Configuration
# ===============================================
provider "proxmox" {
  virtual_environment {
    endpoint = "https://{{ ansible_host }}:8006"
    username = "{{ ansible_user }}@pam"
    password = "{{ ansible_ssh_pass }}"
    insecure = true
  }
}
